doctype html
html(lang="cs")
    head
        include _variables.pug  
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.page-heading.post__image-container
            .container
                h1.page-heading__title SUN8-VÝKON 2120 W
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-thumb-page-contacts-large.jpg" data-src=URLbase+"img/thumb-page-contacts-large.jpg" alt="#" title="#")

        include _breadcrumb.pug

        main
            .container
                .print-area
                    article.page
                        p Na úvod Vás chceme informovat, že Státní fond životního prostředí vypsal program podpory realizace fotovoltaických elektráren (dále jen FVE), tzv. 
                        h3 Pro všechny naše sestavy používáme komponenty od špičkových výrobců pro tuto oblast elektroniky. Všechny ceny jsou uvedeny včetně DPH.
                       
                        p Novou zelenou úsporám zaměřenou na snížení energetické náročnosti rodinných domů. Částka, kterou s nabízenou sestavou VFE můžete získat činí 82 000,- Kč a sestává se z podoblasti C.3.5 FV -  systém s akumulací elektrické energie a celkovým využitelným ziskem ≥ 1 700 kWh.rok-1-1 ve výši 77 000,-Kč a podoblasti C.5 – podpora na zpracování odborného posudku ve výši – 5 000,-Kč.
                        .product-price
                            .product-price__cell
                                h4.product-price__subtitle Cena instalace: 
                                h2.product-price__title 139 000,- Kč
                            .product-price__cell
                                h4.product-price__subtitle Dotace Nová Zelená úsporám: 
                                h2.product-price__title 65 000,- Kč
                            .product-price__cell.product-price__cell--final
                                h4.product-price__subtitle Vaše cena po odečtení dotace: 
                                h2.product-price__title 74 000,- Kč

                        .product-description
                            h3 Co naše nabídka zahrnuje
                            p Naše nabídka zahrnuje kompletní řešení: instalace FVE na klíč, vyřízení dotace, připojením sestavy do distribuční sítě a taktéž záruční i po-záruční servis Vaší elektrárny.
                            p Vzhledem k různorodostí domovních rozvaděčů a domovních rozvodů elektřiny, cena na klíč zahrnuje 3 hodiny pro přenastavení domovního rozvaděče (které jsou obvykle plně vystačující) a běžné práce a materiál pro instalaci dané sestavy. Pokud zákazník vyžaduje nějaké nadstandartní odborné práce – jsou účtovány zvlášť.
                            p Pro Váš komfort můžeme zakázku doplnit o další zařízení, která budou také vyúčtována zvlášť a která nejsou součástí této nabídky (bojler, zařízení umožňující monitoring Vaší FVE na PC, Tabletu, Mobilu, nestandartní uchycení FVE...atd).

                        .row.product-table
                            h2.product-table__title Použité technologie
                            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                                .product-table__cell
                                    h4.product-table__content 8 ks Panel fotovoltaický 
                            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                                .product-table__cell
                                    h4.product-table__content 1 ks Měnič síťový 
                            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                                .product-table__cell
                                    h4.product-table__content 1 ks Wattrouter

        include _footer.pug

        include _js-include.pug